{{>admin-tabs route='users'}}
{{!-- table --}}

<table class="table align-middle">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.name}}</td>
      <td>{{this.email}}</td>
      <td>{{#is this.isAdmin 1}} admin {{/is}}
        {{#is this.isAdmin 0}} user {{/is}}
      </td>
      <td>{{#is this.isAdmin 1}}
        <form action="/admin/users/{{this.id}}?_method=PATCH" method="POST" style="display: inline;">
          <button type="submit" class="btn btn-link link-primary">set as user</button>
        </form>
        {{/is}}
        {{#is this.isAdmin 0}}
        <form action="/admin/users/{{this.id}}?_method=PATCH" method="POST" style="display: inline;">
          <button type="submit" class="btn btn-link link-primary">set as admin</button>
        </form>
        {{/is}}
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>