<div class="card mb-3">
  <div class="card-body row">
    <div class="col-md-4">
      <img class="img-responsive center-block" src="{{ user.image }}"
        style="width: 100% ; transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
    </div>
    <div class="col-md-8">
      <p style="white-space: break-spaces;">{{ user.name }}</p>
      <p style="white-space: break-spaces;">{{ user.email }}</p>
      <p style="white-space: break-spaces;">已評論餐廳</p>
      <a class="btn btn-primary" href="/users/{{ user.id }}/edit">Edit</a>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header">
    已評論餐廳
  </div>
  <div class="card-body">
    {{!-- restaurants of comments --}}
    {{#each user.Comments}}
    <a href="/restaurants/{{ this.Restaurant.id }}/">
      <img class="img-responsive center-block" src="{{ this.Restaurant.image }}"
        style="width: 100px; transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
    </a>
    {{/each}}
  </div>
</div>